.mainContainer {
  height: calc(100vh - 62px);
  display: flex;
}

.sideContainer {
  background-color: #3c3f50;
  width: 400px;
}

.contentContainer {
  background-color: white;
  width: calc(100vw - 400px);
  display: flex;
  justify-content: center;
}

.tableContainer {
  width: 90%;
  margin-top: 40px;
}